{% extends "base.html" %} <!-- Указываю путь к файлу, с помощью которого мы расширяем index.html (наследуем) -->
{% load static %}


<!-- Добавление блока css -->
{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock css %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock modal_cart %}


<!-- Добавление блока content -->
{% block content %}

    <div class="mt-5 pt-5 bg-white custom-shadow rounded">
        <h1 class='m-2'><strong>{{ content }}</strong></h1>
        <p class='m-2'>{{ text_on_page }}</p>
    </div>
    
{% endblock content %}


<!-- Добавление блока footer -->
{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Селин Дмитрий 2024</p>
        </div>
    </footer>
{% endblock footer %}
