{% extends "base.html" %} <!-- Указываю путь к файлу, с помощью которого мы расширяем index.html (наследуем) -->
{% load static %}


<!-- Добавление блока css -->
{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock css %}


<!-- Добавление блока content -->
{% block content %}
    <h1 class="mt-5 pt-5" style='color: white;'><strong>{{ content_title }}</strong></h1>
    <h2 style='color: white;'>{{ content_text }}</h2>
{% endblock content %}


<!-- Добавление блока footer -->
{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Селин Дмитрий 2024</p>
        </div>
    </footer>
{% endblock footer %}
